<!--Carousel-->

<div id="carousel" class="carousel slide hero-slides" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active boat">
      <div class="container h-100 d-none d-md-block">
        <div class="row align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="caption animated fadeIn">
              <h1 class="headline">Your Own Dairy</h1>
              <p class="animated fadeInRight">
                Experience the convenience of ordering fresh dairy products
                online with Milk in Minutes. From creamy milk to artisanal
                cheeses, we offer a wide range of high-quality dairy delights
                delivered straight to your doorstep, ensuring freshness and
                flavor in every bite.
              </p>
              <a class="animated fadeInUp btn delicious-btn" href="#search"
                >Explore Products</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="heading">
  <h2>Explore All Products</h2>
</div>

<app-search id="search"></app-search>
<app-productlist class="productView"></app-productlist>\

